
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 98vw;
  }
.container{
    display:  grid ;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr ;
    width: max(40vw, 400px);
    height: max(40vw, 400px);

}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.box{
    text-align: center;
    align-content: center;
    border-right : solid black 5px ;
    border-bottom : solid black 5px ;
  }
  .box :hover{
    background-color: #f1f1f1;
  }
.box-3 , .box-6 , .box-9 {
    border-right : none;
  }

.box-7 , .box-8 , .box-9 {
    border-bottom : none;
  }

  .btn{
    width: max(10vw, 80px); 
    height: max(10vw, 80px);
    font-size: max(10vw, 80px);
    background: none ;
    border: none;
    cursor: pointer;
  }
  @media screen and (max-width: 1000px){
    .container{
      width: 90vw;
      height: 90vw;
    }
    .btn{
      width: 20vw;
      height: 20vw;
      font-size: 20vw;
    }
  }