
.container{
    display:  grid ;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr ;

}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.box{
    text-align: center;
    align-content: center;
    border-right : solid black 5px ;
    border-bottom : solid black 5px ;
    width: 10vw;
    height: 10vw;
  }
  .box :hover{
    background-color: #f1f1f1;
  }
.box-3 , .box-6 , .box-9 {
    border-right : none;
  }

.box-7 , .box-8 , .box-9 {
    border-bottom : none;
  }

  .btn{
    width: 10vw; 
    height: 10vw;
    font-size: 8vw;
    background: none ;
    border: none;
    cursor: pointer;
  }
  /* .btn:hover{
    background-color: #f1f1f1;
  }  */
  /* .btn:active{
    background-color: #f1f1f1;
  } */